.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo {
  width: 50%;
}

h1 {
  color: #fb1;
  margin-top: 100px;
  font-size: 200px;
}

.todo-footer {
  border: solid 1px #bfc0c1;
  border-radius: 5px;
  color: #5b5b5b;
  text-align: center;
}

.todo-footer p {
  margin-top: 10px;
}

.list-group {
  margin: 0;
  padding: 0;
}

.list-is-active {
  color: #5b5b5b;
  text-decoration: line-through;
  background-color: #bfc0c1;
}

.list-is-active:hover {
  cursor: pointer;
  background-color: #bfc0c1;
  color: #5b5b5b;
  text-decoration: line-through;
}
